TrainingTests/RandomTestGenerator.exe
WithLearning/Training.exe
NetworkDescription/CorrectNetworkSize.exe
.vscode/tasks.json
.vscode/settings.json
Library/NeuronNetwork.exe
WithOutLearning/ProcessTest.exe
